In [12]:
import pandas as pd

In [13]:
df = pd.readf = pd.read_csv('mtcars.csv')
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [16]:
#Extracting groups 
df[['mpg','cyl']].groupby(['cyl']).describe().unstack()

            cyl
mpg  count  4      11.000000
            6       7.000000
            8      14.000000
     mean   4      26.663636
            6      19.742857
            8      15.100000
     std    4       4.509828
            6       1.453567
            8       2.560048
     min    4      21.400000
            6      17.800000
            8      10.400000
     25%    4      22.800000
            6      18.650000
            8      14.400000
     50%    4      26.000000
            6      19.700000
            8      15.200000
     75%    4      30.400000
            6      21.000000
            8      16.250000
     max    4      33.900000
            6      21.400000
            8      19.200000
dtype: float64

In [17]:
#Find the correlation between two extracted variables
df[['mpg','cyl']].corr()

          mpg       cyl
mpg  1.000000 -0.852162
cyl -0.852162  1.000000